.our-services {
    padding: 70px 0 70px 0;
}

.our-services__list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.our-services__item {
    padding: 32px;
    min-height: 238px;
    background-color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 150ms ease-in;
}

.our-services__item--img {
    margin-bottom: 24px;
}

.our-services__item--title {
    font-family: 'Itc-bold', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #24272E;
    margin-bottom: 12px;
}

.our-services__item--text {
    font-family: 'Inter-regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.our-services__item:hover {
    box-shadow: 0px 30px 50px -10px #9897975E;
}

@media (max-width: 1299px) {
    .our-services {
        padding: 50px 0 50px 0;
    }
}

@media (max-width: 991px) {
    .our-services__list {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    .our-services__list {
        grid-template-columns: repeat(1, 1fr);
    }
}