.tag {
    display: inline-block;
    padding: 10px 16px;
    text-align: center;
    background-color: rgba(240, 231, 20, 0.2);
    border-radius: 74px;
    text-transform: uppercase;
    cursor: pointer;
}