.mobile {
  display: none;
}

.header {
  color: #bab9b9;

  background-color: transparent;
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
}

.header__inner {
  padding: 28px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.header__nav-list {
  display: flex;
  column-gap: 40px;
}

.header__nav-link {
  font-family: "Itc-medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
  color: #bab9b9;
  position: relative;
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.header__nav-link::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: -6px;
  background-color: #fff;
  transform: scale(0);
  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}

.header__nav-link:hover {
  color: #fff;
}

.header__nav-link:hover::after {
  transform: scale(1);
}

.header__nav-actions {
  display: flex;
  gap: 16px;
}

.header__nav-sign-in {
  width: 117px;
  padding: 12px 13px;
  border: 1px solid #cecece;
  border-radius: 100px;
  font-family: "Itc-medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #cecece;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 150ms ease-in;
}

.header__nav-sign-in:hover {
  border-color: #fff;
  color: #fff;
}

.header__nav-sign-up {
  width: 138px;
  padding: 12px;
  background-color: #f0e714;
  border-radius: 100px;
  font-family: "Itc-medium", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #101c26;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 150ms ease-in;
}

.header__nav-sign-up:hover {
  opacity: 0.8;
}

@media (max-width: 991px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -225px;
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 100%;
    background-color: #101c26;
    border: 2px solid #f0e714;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 4px 4px rgb(16, 28, 38, 0.25);
    transition: transform 0.3s linear;
  }

  .header__nav.active {
    transform: translateX(100%);
  }

  .header__nav-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 60px;
  }

  .header__nav-item {
    margin: 10px 0;
    font-weight: 500;
    color: #e76712;
  }

  .header__nav-item:nth-child(n + 2) {
    margin-left: 0;
  }

  .header__nav-actions {
    display: none;
  }

  .mobile {
    display: block;
  }

  .header__nav-sign-in {
    width: 65px;
    padding: 2px;
    border-radius: 10px;
  }

  .header__nav-sign-up {
    width: 65px;
    padding: 2px;
    border-radius: 10px;
  }
}
